@font-face {
    font-family: 'YRDZST';
    src: url('YRDZST-Regular.woff2') format('woff2'),
        url('YRDZST-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

